@{
    ViewBag.Title = "Dokumentasi";
}

<Br />
<h3 align="center"><b>Daftar Dokumentasi Yang Akan Berlangsung Dalam Waktu Dekat</b></h3>
<br />
<br/>
<div class="row">
    <div class="col-md-4">
        <h4>Sosialisasi Gemastik</h4>
        <img width="88%" src="https://filkom.ub.ac.id/wp-content/uploads/2020/12/01_pembukaan_joint_conference_filkom_ub_2018.jpg" alt="Sosialisasi" />
        <p>
            Untuk mempersiapkan Gemastik, wajib mengetahui persyaratan yang ada.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Puspresnas</h4>
        <img width="88%" src="https://www.unpad.ac.id/wp-content/uploads/2022/08/menteri-timor-4-400x267.jpg" alt="Sosialisasi" />
        <p>
           Sosialisasi
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Peresmian</h4>
        <img width="88%" src="https://filkom.ub.ac.id/wp-content/uploads/2020/12/01_pemotongan_tumpeng_oleh_dekan.jpg" alt="Sosialisasi" />
        <p>
            Peresmian yang dilakukan untuk kemajuan University
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    
</div>