@{
    ViewBag.Title = "University";
}

<h2 align="center"><b>SELAMAT DATANG DI KAMPUS UNIVERSITY</b></h2>
<div class="container center" align="center" style="margin-top:2%;">
    <img src="https://sevima.com/wp-content/uploads/2021/06/Universitas.jpg" width="50%" alt="gambar">
</div>

<br />
<br />

<div class="container" align="justify">
    <p>Pada website ini, silahkan memasukkan nama dan isi biodata anda untuk mendaftar seminar dan mata kuliah yang harus berbayar. Pastikan tidak ada kesalahan. 
    Untuk mengetahui daftar seminar dan harga, silahkan buka menu seminar dan mata kuliah. Jika ada pertanyaan, silahkan buka menu contact</p>
</div>
