@model FinalKampus.Models.MataKuliah

@{
    ViewBag.Title = "Mata Kuliah";
}


<div>
    <br />
    <h3 style="color:red;"><b>Apakah kamu yakin ingin menghapus data ini?</b></h3>
    <br />
    <dl class="dl-horizontal">
        <dt>
            Nama Mata Kuliah
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matakuliah_nama)
        </dd>

        <dt>
            Semester
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matakuliah_semester)
        </dd>

        <dt>
            Harga Mata Kuliah
        </dt>

        <dd>
            Rp.@Html.DisplayFor(model => model.matakuliah_harga),-
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
